@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 231 67% 94%;
    --foreground: 231 48% 10%;
    --card: 231 67% 99%;
    --card-foreground: 231 48% 10%;
    --popover: 231 67% 99%;
    --popover-foreground: 231 48% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 67% 98%;
    --secondary: 231 50% 88%;
    --secondary-foreground: 231 48% 20%;
    --muted: 231 50% 88%;
    --muted-foreground: 231 48% 40%;
    --accent: 261 32% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 80%;
    --input: 231 40% 85%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 261 32% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 231 20% 80%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 48% 25%;
    --sidebar-accent-foreground: 231 20% 95%;
    --sidebar-border: 231 48% 20%;
    --sidebar-ring: 231 48% 48%;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 231 15% 85%;
    --card: 231 15% 14%;
    --card-foreground: 231 15% 85%;
    --popover: 231 15% 14%;
    --popover-foreground: 231 15% 85%;
    --primary: 231 48% 58%;
    --primary-foreground: 231 48% 10%;
    --secondary: 231 15% 24%;
    --secondary-foreground: 231 15% 85%;
    --muted: 231 15% 24%;
    --muted-foreground: 231 15% 65%;
    --accent: 261 42% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 15% 24%;
    --input: 231 15% 24%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 261 42% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 231 20% 80%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 48% 25%;
    --sidebar-accent-foreground: 231 20% 95%;
    --sidebar-border: 231 48% 20%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
